h1{
    text-align:center;
    font-family:Arial;
    max-height: 100px;
}
body{
   padding:50px 0px 25px 0px;
}
form{
    max-height: 300px
}
td, th {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 50%;
}
table.job-listing td:first-child {
        font-weight: bold;
}
table.job-listing td:last-child {
        width: 50%;
}
input{
    float:right;
    margin-right : 700px;
    max-height :500px;
}


