@model UserSignup.ViewModels.AddUserViewModel
<head>
    <link rel="stylesheet" type=" text/css" href="~/css/style.css"/>
</head>

<body>
    <h1>User SignUp Page</h1>

    <form method="post">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" /><br />
            <span asp-validation-for="UserName" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" /><br />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" /><br />
            <span asp-validation-for="Password" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="VerifyPassword" ></label>
            <input asp-for="VerifyPassword" /><br />
            <span asp-validation-for="VerifyPassword" class="text-danger"></span>
        </div>
        <input type="submit" value="SignUp" />
    </form>
</body>