
@{
}
<h1>Remove Cheese</h1>

@if (ViewBag.cheeses.Count == 0)
{
    <p>There are no cheeses to Remove</p>
} 
<form method="post">
    <select id ="test" name="dropdown1" >
        @foreach (var cheese in ViewBag.cheeses)
        {
            <option value=" @cheese.Name" >@cheese.Des</option>
        }
    </select>
    <input type="submit" value="Remove Cheese" />
</form>

